@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2E3840;
	--text: #617686;
	--accent: #F43754;
	--additional: #A6D0DD;
}

body {
	overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
}

a {
  text-decoration: none;
}

li{
	transition: all 0.3s ease-in-out;
}

li:hover{
	color: var(--accent);
}